.cart-page {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.cart-page h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #b1b1b1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.cart-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.cart-item-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.cart-item-details {
  flex-grow: 1;
  padding-left: 10px;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.cart-item-details p {
  margin: 5px 0 0;
  color: #666;
  font-size: 16px;
}

.remove-from-cart {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.remove-from-cart:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.remove-from-cart:active {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.cart-page p {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.cart-item-actions {
  display: flex;
  align-items: center;
}

.checkout-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #218838;
}
