/* ProductCard.css */

.product-card {
    border: 1px solid #b1b1b1;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 6px;
    margin: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    flex: 1 0 30%;
    max-width: 250px;
    position: relative; /* Set position to relative to contain absolute positioned elements */
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

.product-name {
    font-size: 1.4em;
    margin: 10px 0;
}

.product-description {
    font-size: 1em;
    color: #555;
}

.product-price {
    font-size: 1.2em;
    color: #000;
}

.add-to-cart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.2s;
}

.add-to-cart:hover {
    transform: scale(1.1);
}
